body{
	background: url(/assets/img/bg-paper.jpg); 
    //color: #f5f5f5;
}


// Custom google fonts
// h1{
// 	font-family: 'Gloria Hallelujah', cursive;
// }
h1, h2{
    //font-family: 'Headland One', serif;
    font-family: 'Gilda Display', serif;
}
h3, h4{
    //font-family: 'Rock Salt', serif;
    font-family: 'Open Sans', sans-serif;
}
p, li, .alert, .btn, input, textarea, nav{
    font-family: 'Open Sans', sans-serif;
}


// Button styles
.btn-primary{
	background-color: #428bca;
	-webkit-box-shadow: 0px 5px 0px 0px #346fa1;
	-moz-box-shadow: 0px 5px 0px 0px #346fa1;
	box-shadow: 0px 5px 0px 0px #346fa1;
	i{
		font-size: 1.4em;
	}
}


//Top Navbar overrides
nav.navbar{
	background: rgba(255,109,87, 0.95); 
    width: 100%; 
    color: #f4f4f4;
    border:none;
	ul.nav-main{
		//border-left: 2px solid rgba(178,148,124, 0.2);
		li{
			//border-right: 2px solid rgba(178,148,124, 0.2);
			i{
				float: left;
				padding: 15px 10px 0 0;
			}
			a{
				color: #fff;
				font-weight:300;
				font-size: 1.3em;
				font-weight: 400;
				background: transparent !important; 
				padding: 10px 20px;
				//border-left: 1px solid rgba(133,101,75, 0.3);
				.title{
					display: block;
	    			font-family: 'Open Sans', sans-serif;
					font-size: 0.6em;
					font-weight: 300;
				}
			}
		}
	}
	ul.sn-list{
		li{
			a{
				font-size: 1.1em;	
				padding: 9px 7px;
			}
		}
	}
	.navbar-brand{
		width: 150px;
		padding: 0;
		#circleLeaf{
			position: relative;
			.fa-circle{
				color: rgba(247,150,40, 0.8); 
				z-index: 1000;
				position: relative;
				top: -65px;
				font-size: 150px;
			}
			.text1{
				display: block;
				color: #f2f2f2;
		    	font-family: 'Open Sans', sans-serif;
				font-size: 24px;
				font-weight: 800;
				z-index: 1001;
				position: absolute;
				top:3px;
				left:35px;
			}
			.text2{
				display: block;
				color: #f2f2f2;
				font-size: 30px;
	    		font-family: 'Gilda Display', serif;
				z-index: 1001;
				position: absolute;
				top:25px;
				left:0;
			}
			.text3{
				display: block;
				color: #f2f2f2;
				font-size: 1.2em;
				z-index: 1001;
				position: absolute;
				top:45px;
				left:50px;
			}
		}
	}
}

//Social Network Icon Styles
ul.sn-list {
	margin: 0;
	padding: 0;
	li {
		a.sn-links{
			color: #fff;
			.fa-stack{
				opacity:0.8;
			}
		}
		a.facebook{
			.fa-circle{
				color: #3B5998 ;
			}
		}
		a.facebook:hover {
			.fa-circle{
				color: #3B5998 ;
			}
		}
		a.email {
			.fa-circle{
				color: #d9534f ;
			}
		}
		a.email:hover {
			.fa-circle{
				color: #d2322d ;
			}
		}
		a.twitter {
			.fa-circle{
				color: #4099FF ;
			}
		}
		a:hover {
			.fa-stack-1x{
				color: #fff ;
			}
		}
	}
}

// Form overrides
form{
	.form-group{
		input[type="text"]{
			background: rgba(255,255,255,0.7);
			color: #333;
			border:none;
			padding: 12px 35px;
			height: auto;
			border-radius: 0;
		}
		.input-group-addon{
			background: rgba(255,255,255,0.7);
			border:none;
			font-size: 1.2em;
			border-radius: 0;
			color:#333;
		}
	}
}

// Parallax
#home { 
	background: url(/assets/img/bg-tra1.jpg) 50% 0 no-repeat fixed;
	background-size: 100% auto;
	color: white;
	height: 600px;
	margin: 0 auto;
	padding: 0;
}
#news { 
	background: url(/assets/img/bg-felt.png) 50% 0 fixed;
	background-size: 10% auto;
	height: 400px;
	width: 100%;
	margin: 0 auto;
	z-index: 100;
	padding-top: 0 !important;
	#guitar{
		background: url(/assets/img/pic-electric-guitar.png) -175% 0 no-repeat fixed;
		background-size: 800px auto;
		height: 400px;
		width: 100%;
		left:0;
		z-index: 200;
	}
}
#signup { 
	background: url(/assets/img/bg-wood.png) 50% 0 fixed;
	background-size: 30% auto;
	height: 300px; 
	color: #222;
	text-align: center;
	#mic{
		background: url(/assets/img/pic-microphone.png) 175% 0 no-repeat fixed;
		background-size: 600px auto;
		height: 400px;
		width: 100%;
		right:0;
		z-index: 200;
	}
	p{
		font-size:19px;
		font-weight: 300;
		span{
			font-weight: 600;
		}
	}
	h2{
		32px;
	}
}
#shows { 
	background: url(/assets/img/bg-concert.jpg) 50% 0 no-repeat fixed;
	background-size: 130% auto;
	color: white;
	height: 400px;
	padding: 0 0 0 0 !important;
	h4{
		float:left;
		padding: 0 10px 0 0;
		margin: 0;
		text-align: center;
		.hour{
			display: block;
			font-size: 2.4em;
			border-bottom: 1px solid #ccc;
			color: #d9534f;
			font-weight:800;
		}
		.month{
			padding: 2px 0 0 0;
			display: block;
			font-size: 1.2em;
			color: #a1a1a1;
			font-weight:400;
		}
	}
	.time{
		color: #b7b7b7;
		font-style: italic;
	}
	h2{
		padding: 0 0 0 0;
		margin: 0;
		font-size: 2em;
		line-height: 145%;
		.clearfix();
	}
	p{
		font-weight:300;
		line-height: 190%;
	}
}
#footer{
    // box-shadow: 0 0 50px rgba(0,0,0,0.8);
	background: url(/assets/img/bg-dot.png) #414a50;
	color: #fff;
	height: 300px;
}

/************** 
***************
band page styles 
**************
**************/
section#band-wrapper{
	article#Lindsay { 
		background: url(/assets/img/pic-band-lindsay.jpg) 50% 0 fixed;
		background-size: 100% auto;
		.top-parallax{
			background: url(/assets/img/pic-band-lindsay-cutout.png) 50% 0 fixed no-repeat;
			background-size: 100% auto;
		}
	}
	article#Eagle { 
		background: url(/assets/img/pic-band-eagle.jpg) 50% 0 fixed;
		background-size: 100% auto;
		.top-parallax{
			//background: url(/assets/img/pic-band-lindsay-cutout.png) 50% 0 fixed no-repeat;
			background-size: 100% auto;
		}
	}
	article#Jeff { 
		background: url(/assets/img/pic-band-bird-dog.jpg) 50% 0 fixed;
		.top-parallax{
			//background: url(/assets/img/pic-band-lindsay-cutout.png) 50% 0 fixed no-repeat;
			background-size: auto 1000px;
		}
	}
	article#Willy { 
		background: url(/assets/img/pic-band-willy.jpg) 50% 0 fixed;
		.top-parallax{
			//background: url(/assets/img/pic-band-lindsay-cutout.png) 50% 0 fixed no-repeat;
		}
	}
	article#Tyler { 
		background: url(/assets/img/pic-band-tyler.jpg) 50% 0 fixed;
		.top-parallax{
			//background: url(/assets/img/pic-band-lindsay-cutout.png) 50% 0 fixed no-repeat;
		}
	}
	article#Christian { 
		background: url(/assets/img/pic-band-christian.jpg) 50% 0 fixed;
		background-size: auto 1000px;
		.top-parallax{
			//background: url(/assets/img/pic-band-lindsay-cutout.png) 50% 0 fixed no-repeat;
		}
	}
	article.band-list{ 
		padding-top: 0 !important;
		color: #333;
		z-index: 1000;
		width: 100%;
		margin: 0;
		.top-parallax{
			background-size: auto 1000px !important;
			z-index: 2000;
			width: 100%;
			margin: 0;
			.container{
				padding-top:100px;
				h3{
					color: #d9534f;
				}
				.sn-list{
					list-style: none;
					li{
						float: left;
						margin-right:8px;
					}
				}
			}
		}
	}
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	section#band-wrapper{
		article.band-list{ 
			height: 350px;
			background-size: auto 768px !important;
			.top-parallax{
				background-size: auto 768px !important;
				height: 350px;
			}
		}
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px ) {

	section#band-wrapper{
		article.band-list{ 
			height: 450px;
			background-size: auto 992px !important;
			.top-parallax{
				background-size: auto 992px !important;
				height: 450px;
			}
		}
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	section#band-wrapper{
		article.band-list{ 
			height: 700px;
			background-size: auto 1000px !important;
			.top-parallax{
				background-size: auto 1000px !important;
				height: 700px;
			}
		}
	}

}


